body {
  background: rgb(226, 225, 225);
  padding-bottom: 20px;
}

.content{
  position: relative;
}

.search-form{
  position: absolute;
  right: 25px;
  top: -50px;
}

.search-form input{
  height: 35px;
  margin-right: 10px;
  padding: 0px 8px;
  border-radius: 8px;
  border: solid 1px black;
}

.btn{
  background: #0065BD;
  color: white;
}

.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  width: 95vw;
  margin: 70px auto 0 auto;
}

.product{
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: white;
  position: relative;
}

.product h1 {
  text-align: center;
}

img{
  width: 100%;
}

.prod-body{
  padding: 0px 20px 50px 20px;
}

.prod-body h2 {
  text-align: right;
}

.tag-list {
  position: absolute;
  bottom: 10px;
  right: 5px;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tag {
  background: #0065BD;
  padding: 8px 12px;
  margin: 0 5px;
  border-radius: 8px;
  color: white;
}

